<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <title>Error - RustAdminTool</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="">

  <link href="/stylesheets/bootstrap.css" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/font-awesome.css">
  <link href="/stylesheets/style.css" rel="stylesheet">
  <link rel="shortcut icon" href="/images/favicon/favicon.png">
</head>

<body>

<!-- Form area -->
<div class="error-page">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <!-- Widget starts -->
            <div class="widget wblue">
              <!-- Widget head -->
              <div class="widget-head">
                <i class="icon-question-sign"></i> Error 
              </div>

              <div class="widget-content">
                <div class="padd error">
                  
                  <h1>Opps!!! It's 404</h1>
                  <p>There is no such page! Please visit main page <a href="/">here!</a></p>
                  <br />         
                 <br />

                </div>
              </div>
                <div class="widget-foot">
                </div>
            </div>  
      </div>
    </div>
  </div> 
</div>
</body>
</html>