<div class="widget wgreen">
    <div class="widget-head">
        <div class="pull-left">Edit admin</div>
        <div class="clearfix"></div>
    </div>

    <div class="widget-content">
        <div class="padd">
            <form class="form-horizontal" role="form" method="POST">
                <div class="form-group">
                    <label class="col-lg-4 control-label">Username</label>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" placeholder="Username" name="username" value="<%= admin.username %>" autocomplete="false">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-4 control-label">Password</label>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" placeholder="Password" name="password" value="<%= admin.password %>" autocomplete="false">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-4 control-label">Permissions</label>
                    <div class="col-lg-8">
                        <% for(var i=0; i<roles.length; i++) { %>
                            <label ><%= roles[i] %> <input type="checkbox" name="roles[<%= roles[i]%>]" <% if (admin.roles.indexOf(roles[i]) != -1 || admin.roles.indexOf('root') != -1) { %> checked="true" <% } %> ></label>
                        <% } %>
                    </div>
                </div>                  
                
                <hr>
                <div class="form-group">
                    <div class="col-lg-offset-1 col-lg-9">
                        <input type="hidden" name="_method" value="put">
                        <button type="submit" class="btn btn-success">Save</button>
                    </div>
                </div>
            </form>
        </div>    
    </div>
</div>