<tbody>
    <tr>
        <td>Connection status</td>
        <td><% if (server.status) { %><span class="label label-success">Online</span> <% } else { %><span class="label label-important">Offline</span> <% } %></td>
    </tr>
    <tr>
        <td>Hostname</td>
        <td><%= server.hostname %></td>
    </tr>
    <tr>
        <td>Players online</td>
        <td><%= server.currentOnline %>/<%= server.maxOnline %></td>
    </tr>
    <% if (roleCheck('restart') && server.status) { %>
        <tr>
            <td>Restart</td>
            <td>
                <form method="POST" onsubmit="javascript: return false;" class="form-inline" style="padding:0px; margin:0px;">
                    <button type="button" class="btn btn-warning" id="restart">Restart</button>
                </form>
            </td>
        </tr>
    <% } %>
    <% if (roleCheck('connect')) { %>
        <tr>
            <td colspan=2>
                <% if (server.status) {%>
                    <button type="button" class="btn btn-danger" id="disconnect">Disconnect</button>
                <% } else { %>
                    <button type="button" class="btn btn-success" id="connect">Connect</button>
                <% } %>
            </td>
        </tr>
    <% } %>
</tbody>