<div class="widget wgreen">
    <div class="widget-head">
        <div class="pull-left">Application settings</div>
        <div class="clearfix"></div>
    </div>

    <div class="widget-content">
        <div class="padd">
            <h6>Server settings</h6>
            <hr>

            <div class="form-group">
                <label class="col-lg-4 control-label">Host</label>
                <div class="col-lg-8">
                    <input type="text" class="form-control" name="host" value="<%= settings.host %>" readonly="true">
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="form-group">
                <label class="col-lg-4 control-label">Port</label>
                <div class="col-lg-8">
                    <input type="text" class="form-control" name="port" value="<%= settings.port %>" readonly="true">
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="clearfix"></div>
        </div>
    </div>
</div>